---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import paises from '~/content/lenguaseñas';
import type { Lenguadesenas } from '~/types';

const { id, isDark = false, classes = {}, bg } = Astro.props as Lenguadesenas;
---
<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-5xl ${classes.container ?? ''}`}
  bg={bg}
>
<!--<div id="alert-additional-content-1" class="p-4 mb-4 text-primary-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-[#2c3b4e] dark:text-primary dark:border-primary" role="alert">
  <div class="flex items-center">
    <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Info</span>
    <h3 class="text-lg font-medium">Alerta de información</h3>
  </div>
  <div class="mt-2 mb-4 text-sm">
    La busqueda sera guardada en tu navegador para poder ser mantenida cuando vuelvas a esta pagina.
  </div>
  <div class="flex">
    <button type="button" class="btn-primary text-black hover:text-black hover:brightness-110 dark:text-white font-medium rounded-lg text-xs px-5 py-3.5 text-center transition-transform duration-300" data-dismiss-target="#alert-additional-content-1" aria-label="Close">
      Aceptar
    </button>
  </div>
</div> -->

  <div class="overflow-x-auto shadow-md sm:rounded-lg bg-light">
    <div class="pb-4 bg-white dark:bg-dark">
      <label for="table-search" class="sr-only">Buscar</label>
      <div class="relative">
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          type="text"
          id="table-search-users"
          class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Buscar por país o continente lengua de señas (si el buscador no funciona, recarga la pagina)"
        />
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3 text-black dark:text-white">
              PAÍS
            </th>
            <th scope="col" class="px-6 py-3 text-black dark:text-white">
              LENGUA DE SEÑAS
            </th>
          </tr>
        </thead>
        <tbody id="table-body">
          {paises.map((pais) => (
            <tr class="bg-white border-b dark:bg-[#2c3b4e] dark:border-gray-500/20 hover:bg-gray-50 dark:hover:bg-[#364f6e]">
              <td class="px-6 py-4">
                <div class="flex items-center">
                  <img
                    class="w-14 h-8 sm:w-16 sm:h-10 rounded-full mr-3 shadow-lg"
                    src={pais.bandera}
                    alt={`${pais.nombre} Bandera`}
                  />
                  <div>
                    <div class="text-base font-semibold text-black dark:text-white">{pais.nombre}</div>
                    <div class="text-xs text-gray-500 dark:text-muted">{pais.continente}</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 text-black dark:text-white">{pais.lengua}</td>
            </tr>
          ))}
        </tbody>
      </table>
    </div>
  </div>
</WidgetWrapper>

<script>
document.addEventListener('astro:page-load', () => {
    const searchInput = document.getElementById('table-search-users');
    const tableBody = document.getElementById('table-body');

    function initializeSearch() {
        let searchQuery = getSearchQueryFromLocalStorage();

        if (!searchQuery) {
            searchQuery = getSearchQueryFromURL();
        }

        if (searchQuery && searchInput) {
            searchInput.value = searchQuery;
            updateSearchQueryAndURL(searchQuery);
            filterTable(searchQuery);
        }
    }

    if (searchInput && tableBody) {
        initializeSearch();

        searchInput.addEventListener('input', function() {
            const inputValue = (searchInput as HTMLInputElement).value.trim();
            updateSearchQueryAndURL(inputValue);
            filterTable(inputValue);
        });

        window.addEventListener('popstate', function() {
            initializeSearch();
        });
    }

    function filterTable(query) {
        const rows = tableBody ? tableBody.querySelectorAll('tr') : [];

        for (let i = 0; i < rows.length; i++) {
            const row = rows[i];
            const country = (row.querySelector('td:nth-child(1)') as HTMLElement)?.innerText?.toLowerCase();
            const language = (row.querySelector('td:nth-child(2)') as HTMLElement)?.innerText?.toLowerCase();

            if (country.includes(query.toLowerCase()) || language.includes(query.toLowerCase())) {
                row.classList.remove('hidden');
            } else {
                row.classList.add('hidden');
            }
        }
    }

    function getSearchQueryFromLocalStorage() {
        return localStorage.getItem('searchQuery');
    }

    function getSearchQueryFromURL() {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get('q');
    }

    function updateSearchQueryAndURL(query) {
        localStorage.setItem('searchQuery', query);
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('q', query);
        const newUrl = window.location.pathname + '?' + urlParams.toString();
        history.replaceState(null, '', newUrl);
    }
});
</script>
